@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f7fb;
}
::selection{
    color: #fff;
    background-color: #7d2ae8;
}
.container{
    padding: 2rem 7rem;
    border-radius: 14px;
    background:#ffffff ;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.resultImages {
    display: flex;
    column-gap: 7rem;
}
.container.start .userResult{
    transform-origin: left;
    animation: userShake 0.7s ease infinite;
}
@keyframes userShake{
    50% {
        transform: rotate(10deg);
    }
    
}
.container.start .cpuResult{
    transform-origin: right;
    animation: cpuShake 0.7s ease infinite;
}
@keyframes cpuShake{
    50% {
        transform: rotate(-10deg);
    }
}
.resultImages img{
    width: 100px;
}
.userResult img{
    transform: rotate(90deg);
}
.cpuResult img{
    transform: rotate(-90deg) rotateY(180deg);
}
.result{
    text-align: center;
    font-size: 2rem;
    color: #7d2ae8;
    margin-top: 1.5rem;
}
.optionImage img{
    width: 50px;
}
.optionImages {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-between;
}
.container.start .optionImages{
    pointer-events: none;
}
.optionImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.optionImage:hover {
    opacity: 1;
}
.optionImage:active{
    opacity: 1;
}
.optionImage img{
    pointer-events: none;
}
.optionImage p{
    color: #7d2ae8;
    font-size: 1.235rem;
    margin-top: 1rem;
    pointer-events: none;
}